:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  text-align: center;
}


.foodbox_main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 40px auto;
}

.foodbox_main_left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  width: 50%;
  padding: 10px;
  background: linear-gradient(90deg, #9fcecf 0%, #55288a 100%); ;
}

.foodbox_main_left img{
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.foodbox_main_right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  width: 30%;
  background: linear-gradient(90deg, #36f6f3 0%, #3a4b8d 100%); 
  padding: 30px;
}

.add{
  width: 40px;
  height: 40px;
  font-size: x-large;
  cursor: pointer;
}

.reset{
  font-size: large;
  cursor: pointer;
  background: linear-gradient(90deg, #75fc85 0%, #bbfaa9 100%); 
}